Buoi1/Buoi1/ClientWebsite/App_WebReferences/Xuly/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="CauA">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="e" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CauAResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CauAResult" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="CauBSoChan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="e" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CauBSoChanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CauBSoChanResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CauBSoLe">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="e" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CauBSoLeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CauBSoLeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SNT">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="a" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="b" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="c" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="d" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="e" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfInt">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="int" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="SNTResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SNTResult" type="tns:ArrayOfInt" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CauASoapIn">
    <wsdl:part name="parameters" element="tns:CauA" />
  </wsdl:message>
  <wsdl:message name="CauASoapOut">
    <wsdl:part name="parameters" element="tns:CauAResponse" />
  </wsdl:message>
  <wsdl:message name="CauBSoChanSoapIn">
    <wsdl:part name="parameters" element="tns:CauBSoChan" />
  </wsdl:message>
  <wsdl:message name="CauBSoChanSoapOut">
    <wsdl:part name="parameters" element="tns:CauBSoChanResponse" />
  </wsdl:message>
  <wsdl:message name="CauBSoLeSoapIn">
    <wsdl:part name="parameters" element="tns:CauBSoLe" />
  </wsdl:message>
  <wsdl:message name="CauBSoLeSoapOut">
    <wsdl:part name="parameters" element="tns:CauBSoLeResponse" />
  </wsdl:message>
  <wsdl:message name="SNTSoapIn">
    <wsdl:part name="parameters" element="tns:SNT" />
  </wsdl:message>
  <wsdl:message name="SNTSoapOut">
    <wsdl:part name="parameters" element="tns:SNTResponse" />
  </wsdl:message>
  <wsdl:portType name="ServiceSoap">
    <wsdl:operation name="CauA">
      <wsdl:input message="tns:CauASoapIn" />
      <wsdl:output message="tns:CauASoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CauBSoChan">
      <wsdl:input message="tns:CauBSoChanSoapIn" />
      <wsdl:output message="tns:CauBSoChanSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CauBSoLe">
      <wsdl:input message="tns:CauBSoLeSoapIn" />
      <wsdl:output message="tns:CauBSoLeSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SNT">
      <wsdl:input message="tns:SNTSoapIn" />
      <wsdl:output message="tns:SNTSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ServiceSoap" type="tns:ServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CauA">
      <soap:operation soapAction="http://tempuri.org/CauA" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CauBSoChan">
      <soap:operation soapAction="http://tempuri.org/CauBSoChan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CauBSoLe">
      <soap:operation soapAction="http://tempuri.org/CauBSoLe" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SNT">
      <soap:operation soapAction="http://tempuri.org/SNT" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ServiceSoap12" type="tns:ServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CauA">
      <soap12:operation soapAction="http://tempuri.org/CauA" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CauBSoChan">
      <soap12:operation soapAction="http://tempuri.org/CauBSoChan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CauBSoLe">
      <soap12:operation soapAction="http://tempuri.org/CauBSoLe" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SNT">
      <soap12:operation soapAction="http://tempuri.org/SNT" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="ServiceSoap" binding="tns:ServiceSoap">
      <soap:address location="http://localhost:52774/Service.asmx" />
    </wsdl:port>
    <wsdl:port name="ServiceSoap12" binding="tns:ServiceSoap12">
      <soap12:address location="http://localhost:52774/Service.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>